<!-- <%- include('../layouts/header.ejs') %>

<div class="container">
   <h3>Edit Profile</h3>

   <form action="" method="post">
      <input type="hidden" name="user_id" value="<%= user._id %>">

      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="<%= user.name %>" placeholder="Enter Name" required>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" value="<%= user.email %>" placeholder="Enter Email" required>

      <label for="mno">Mobile Number</label>
      <input type="text" id="mno" name="mno" value="<%= user.mobile %>" placeholder="Enter Mobile Number" required>

      <input type="submit" value="Update Profile">
   </form>
</div>

<% include('../layouts/footer.ejs') %> -->